doctype html
html
  head
    meta(charset='utf-8')
    link(rel='icon', type='image/png', sizes='32x32', href='./assets/images/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='./assets/images/favicon/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='./assets/images/favicon/favicon-16x16.png')
    link(rel='manifest', href='./assets/images/favicon/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    title Pr&oacute;digos
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
    style.
      @font-face {
      font-family: "MONTSERRAT-REGULAR";
      src: url("./assets/fonts/MONTSERRAT-REGULAR.otf");
      }
      .yellow-color {
      color: #ffd236;
      }
      .blue-color {
      color: #4a62aa;
      }
      .font-size-loading {
      font-size: 6rem;
      }
      .margin-top-loading {
      margin-top: 10%;
      }
      .margin-top-spinner {
      margin-top: 2rem;
      }
      .font-icon {
      font-family: "MONTSERRAT-REGULAR";
      font-size: 6rem;
      }
      .loader {
      display: block;
      margin: 0 auto;
      border: 5px solid #ffd236;
      border-radius: 50%;
      border-top: 5px solid #4a62aa;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
      }
      @-webkit-keyframes spin {
      0% {
      -webkit-transform: rotate(0deg);
      }
      100% {
      -webkit-transform: rotate(360deg);
      }
      }
      @keyframes spin {
      0% {
      transform: rotate(0deg);
      }
      100% {
      transform: rotate(360deg);
      }
      }
    // --------------------------------------------------
    // -------------------------------------------------- Smartlook
    script(type='text/javascript').
      window.smartlook||(function(d) {
      var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
      var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
      c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
      })(document);
      smartlook('init', '5c4f3f44b0a55cf7f50efe86b4ef3920f0291da2');
  body
    app-root
      section.row
        .text-center.font-family-montserrat-regular.font-size-loading.margin-top-loading
          .col-xs-12.col-sm-12.text-center
            span.yellow-color P
            span.blue-color r&oacute;digos
          .col-xs-12.col-sm-12.text-center
            .loader.margin-top-spinner.text-center
    // --------------------------------------------------
    // -------------------------------------------------- Tawkto
    script(type='text/javascript').
      var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
      (function () {
      var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
      s1.async = true;
      s1.src = 'https://embed.tawk.to/58bf269dab48ef44ecd23323/default';
      s1.charset = 'UTF-8';
      s1.setAttribute('crossorigin', '*');
      s0.parentNode.insertBefore(s1, s0);
      })();
