doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
	head
		meta(http-equiv='Content-Type', content='text/html;', charset='utf-8')
		// view port meta tag
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Pródigos - Nuevo servicio
		style(type='text/css').
			/* hacks */
			* {
			-webkit-text-size-adjust: none;
			-ms-text-size-adjust: none;
			max-height: 1000000px;
			}
			table {
			border-collapse: collapse !important;
			}
			#outlook a {
			padding: 0;
			}
			.ReadMsgBody {
			width: 100%;
			}
			.ExternalClass {
			width: 100%;
			}
			.ExternalClass * {
			line-height: 100%;
			}
			.ios_geo a {
			color: #1c1c1c !important;
			text-decoration: none !important;
			}
			.display-responsive {
			display: none !important;
			display: none;
			}
			/* responsive styles */
			@media only screen and (max-width: 600px) {
			/* global styles */
			.hide {
			display: none !important;
			display: none;
			}
			.display-responsive {
			display: block !important;
			display: block;
			}
			.blockwrap {
			display: block !important;
			}
			.showme {
			display: block !important;
			width: auto !important;
			overflow: visible !important;
			float: none !important;
			max-height: inherit !important;
			max-width: inherit !important;
			line-height: auto !important;
			margin-top: 0px !important;
			visibility: inherit !important;
			}
			*[class].movedown {
			display: table-footer-group !important;
			}
			*[class].moveup {
			display: table-header-group !important;
			}
			/* font styles */
			*[class].textright {
			text-align: right !important;
			}
			*[class].textleft {
			text-align: left !important;
			}
			*[class].textcenter {
			text-align: center !important;
			}
			*[class].font27 {
			font-size: 27px !important;
			font-weight: normal !important;
			line-height: 27px !important;
			}
			/* width and heights */
			*[class].hX {
			height: Xpx !important;
			}
			*[class].w380 {
			width: 380px !important;
			}
			*[class].w360 {
			width: 360px !important;
			}
			*[class].w175 {
			width: 175px !important;
			}
			*[class].w350 {
			width: 350px !important;
			}
			/* spacios */
			*[class].mtop10 {
			margin-top: 10px !important;
			}
			*[class].mtop20 {
			margin-top: 20px !important;
			}
			*[class].mbt10 {
			margin-bottom: 10px !important;
			}
			*[class].mbtn20 {
			margin-bottom: 20px !important;
			}
			*[class].pleft15 {
			padding-left: 15px !important;
			}
			*[class].pright15 {
			padding-right: 15px !important;
			}
			}
	body(style='margin:0; padding:0;', topmargin='0', leftmargin='0', marginheight='0', marginwidth='0', bgcolor='#f7f6f3')
		//if gte mso 15
			style(type='text/css', media='all').
				tr { font-size:1px; mso-line-height-alt:0; mso-margin-top-alt:1px; }
		table(width='100%', border='0', cellspacing='0', cellpadding='0')
			tr
				td(align='center', valign='top')
					// EMPIEZA EL CONTENIDO
					table.w380(width='640', aling='center')
						tr
							td.w380(width='640')
								// HEADER
								table.w380(width='640', aling='center', bgcolor='#4a62aa')
									// ================
									// ESPACIO V
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='20')
									tr
										// LOGO PRODIGOS
										td.textcenter.w380(width='640', align='center', bgcolor='#4a62aa')
											img.textcenter(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Flogo_prodigos.png?alt=media&token=ae61b568-ada9-4eb2-9426-a3abefa8c990', alt='logo_prodigos', width='200')
									// ================
									// ESPACIO V
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='10')
								// FIN HEADER
								// ================
								// ESPACIO V
								table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='20')
								// LOGO STATUS PAGO
								table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
									tr
										td(align='center')
											img(src='https://www.prodigosapp.com/assets/images/ask-services/successfull-ask-service.png', alt='icon_success')
									// ESPACIO V
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='10')
								// TITULO
								table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									tr
										td(align='center')
											span(style='font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#4a62aa')
												b=titleEmail
								table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
									// TEXTO DEL PAGO
									tr
										// ESPACIO V
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='15')
									tr(align='center')
										// ESPACIO H
										td(width='10')
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', width='10')
										// TEXTO
										td
											span(style='font-family:arial;font-size:16px;color:#6c6c6c')=messageEmail
										// ESPACIO H
										td(width='10')
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', width='15')
								// GRACIAS DEL TEXTO
								table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#ffffff')
									// ESPACIO V
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='15')
									// ESPACIO H
									tr(align='center')
										td
											span(style='font-family:Arial, Helvetica, sans-serif;font-size:18px;color:#4a62aa')
												| Gracias por confiar en nosotros
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='20')
									// GRACIAS DEL TEXTO
								// ====================
								// TITULO RESUMEN
								table.w380(width='640', bgcolor='#4a62aa')
									// ====================
									// ESPACIO V
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='7')
									tr(align='center')
										td.textcenter.w380(width='640', align='center', bgcolor='#4a62aa')
											span(style='color:#ffd236;font-family:arial;font-size:18px')
												b Resumen del servicio
									// ====================
									// ESPACIO V
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='7')
								// ====================
								// ====================
								// RESUMEN DEL SERVICIO
								table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='ffffff')
									// NOMBRE TITULA
									tr(bgcolor='#ffffff')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Nombre titular
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Nombre titular
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=nameUser
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// CELULAR TITULAR
									tr(bgcolor='#f5f5f5')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Celular titular
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Celular titular
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=celUser
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// CORREO TITULAR
									tr(bgcolor='#ffffff')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Correo titular
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Correo titular
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=emailUser
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// Para quien es el servicio
									tr(bgcolor='#f5f5f5')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b ¿Para quién es el servicio?
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b ¿Para quién es el servicio?
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=forWhorService
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// DIRECCIÓN
									tr(bgcolor='#ffffff')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Dirección servicio
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Dirección servicio
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=address
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// ACTIVIDAD DEL SERVICIO
									tr(bgcolor='#f5f5f5')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												// ESPACIO V
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b ¿Que hacemos por ti?
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b ¿Que hacemos por ti?
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=description
													// ESPACIO H
													td.hide
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', width='15')
												// ESPACIO V
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// RECOMENDACIÓN
									tr(bgcolor='#ffffff')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b ¿Que hacemos por ti?
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Recomendaciones
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=recomendation
													// ESPACIO V
													td.hide
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', width='15')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// FECHA
									tr(bgcolor='#f5f5f5')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Fecha del servicio
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Fecha del servicio
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=datePicked
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// HORA
									tr(bgcolor='#ffffff')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Hora del servicio
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Hora del servicio
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=timePicked
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// TOTAL HORAS
									tr(bgcolor='#f5f5f5')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Total horas
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Total horas
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=hoursService
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// VALOR HORA
									tr(bgcolor='#ffffff')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Valor hora
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b Valor hora
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')=costHour
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
									// VALOR TOTAL
									tr(bgcolor='#f5f5f5')
										td
											table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0')
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
												// RESPONSIVE
												tr.display-responsive(align='center')
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b VALOR TOTAL
												tr.display.display-responsive
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='3')
												// ===========
												tr
													td.hide(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#4a62aa')
															b VALOR TOTAL
													td(style='width:50%', align='center')
														span(style='font-family:arial;font-size:15px;color:#6c6c6c')
															b=costTotal
												tr
													td
														img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='5')
								// TEXTO SIGUENOS
								table.w380.textcenter(width='640', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#4a62aa')
									// ====================
									// ESPACIO V
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='10')
									tr
										td.textcenter.w380(width='640', align='center', bgcolor='#4a62aa')
											span(style='color:#ffffff;font-family:arial;font-size:16px') Siguenos en
								// ====================
								// REDES SOCIALES
								table.w380(width='640', border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#4a62aa')
									tr
										td.textcenter.w380(width='640', align='center', bgcolor='#4a62aa')
											table(width='100%', border='0', cellspacing='0', cellpadding='0')
												tr
													td(align='center', style='padding: 20px 0 0 0;')
														table(border='0', cellspacing='0', cellpadding='0')
															tr
																td(width='37', style='text-align: center; padding: 0 10px 0 10px;')
																	a(href='https://www.facebook.com/prodigosapp/')
																		img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Flogo_facebook.png?alt=media&token=efae8191-345f-46ae-bac5-7d189ed60598', width='37', height='37', alt='Facebook', border='0')
																td(width='37', style='text-align: center; padding: 0 10px 0 10px;')
																	a(href='https://www.instagram.com/prodigosapp/')
																		img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Flogo_instagram.png?alt=media&token=12379219-2d99-4f14-a085-d197e3c800a0', width='37', height='37', alt='Twitter', border='0')
									// ====================
									// ESPACIO V
									tr
										td
											img(src='https://firebasestorage.googleapis.com/v0/b/prodigos-868a7.appspot.com/o/emails%2Fnew-service%2Fspacer.gif?alt=media&token=192f9b53-b59f-48ca-9674-618be79b2006', height='10')
					// TERMINA EL CONTENIDO
