/*
COLOR NUEVO
RED_CANCEL
BOTONES ROJOS
*/
/*
COLOR NUEVO
ULTRA_LIGHT_GRAY
FONDOS DE PROFILE PRODIGOS
*/
/** ============================================ */
/** Fuentes */
/** ============================================ */
/** MONTSERRAT */
@font-face {
  font-family: "MONTSERRAT-BLACK";
  src: url("../fonts/MONTSERRAT-BLACK.otf"); }

@font-face {
  font-family: "MONTSERRAT-BOLD";
  src: url("../fonts/MONTSERRAT-BOLD.otf"); }

@font-face {
  font-family: "MONTSERRAT-LIGHT";
  src: url("../fonts/MONTSERRAT-LIGHT.otf"); }

@font-face {
  font-family: "MONTSERRAT-REGULAR";
  src: url("../fonts/MONTSERRAT-REGULAR.otf"); }

@font-face {
  font-family: "MONTSERRAT-ULTRALIGHT";
  src: url("../fonts/MONTSERRAT-ULTRALIGHT.otf"); }

/** ============================================ */
/** ROBOTOSLAB */
@font-face {
  font-family: "ROBOTOSLAB-BOLD";
  src: url("../fonts/ROBOTOSLAB-BOLD.ttf"); }

@font-face {
  font-family: "ROBOTOSLAB-LIGHT";
  src: url("../fonts/ROBOTOSLAB-LIGHT.ttf"); }

@font-face {
  font-family: "ROBOTOSLAB-REGULAR";
  src: url("../fonts/ROBOTOSLAB-REGULAR.ttf"); }

@font-face {
  font-family: "ROBOTOSLAB-THIN";
  src: url("../fonts/ROBOTOSLAB-THIN.ttf"); }

/** ============================================ */
/** ============================================ */
.z-depth-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.z-depth-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3); }

.z-depth-2-top {
  box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.14), 0px -1px 10px 0 rgba(0, 0, 0, 0.12), 0px -2px 4px -1px rgba(0, 0, 0, 0.3); }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  display: block; }

body {
  background-color: #fdfdfd;
  font-size: 10px;
  display: block;
  margin: 0; }

label {
  font-size: 1.3rem;
  color: #8a8a8a;
  font-family: 'MONTSERRAT-LIGHT'; }

ul {
  list-style-type: none; }

hr {
  margin-top: 5px !important;
  margin-bottom: 5px !important; }

*:focus {
  outline: 0 !important; }

p {
  padding-right: 0;
  padding-left: 0; }

.h4, .h5, .h6, h3, h4, h5, h6 {
  margin-top: 5px;
  margin-bottom: 0; }

/*
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}*/
/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}*/
input[type=text], textarea, input[type=number], input[type=password], select {
  border-radius: 0 !important;
  height: 45px !important; }

textarea {
  border-radius: 0 !important;
  height: 60px !important; }

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
  border-color: #ffd236 !important;
  box-shadow: 0 1px 1px #ffd236 inset, 0 0 8px #ffd236 !important;
  outline: 0 none !important; }

hr {
  margin-bottom: 15px; }

.alert-danger div {
  font-size: 1.2rem; }

.row {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.navbar-nav > li > a:hover, .navbar-nav > li > a > i:hover {
  color: #ffd236 !important; }

.img-credit-card {
  position: absolute;
  right: 10px;
  top: 5px; }

.position-relative {
  position: relative; }

.btn-facebook-register {
  background-color: #365899;
  border-radius: 16px;
  height: 40px;
  padding-top: 0.1rem; }
  .btn-facebook-register i {
    color: white;
    font-size: 3rem; }
  .btn-facebook-register:hover {
    cursor: pointer;
    background-color: #1761f8; }

.btn-google-register {
  background-color: #dd4b39;
  border-radius: 16px;
  height: 40px;
  padding-top: 0.1rem; }
  .btn-google-register i {
    color: white;
    font-size: 3rem; }
  .btn-google-register:hover {
    cursor: pointer;
    background-color: #ea280e; }

.border-radius-div-6px {
  border-radius: 6px; }

.bg-orange-white {
  background-color: #ffec92; }

.bg-transparent {
  background-color: transparent; }

.bold {
  font-weight: 600; }

.border-none {
  border: none; }

.border-bottom {
  border-bottom: 0.5px solid rgba(200, 200, 200, 0.5); }

.btn-radius-left {
  border: 1px solid #c8c8c8;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 132px;
  left: 10px; }

.btn-sliders {
  border-radius: 5px;
  border: 1px solid white;
  font-family: 'MONTSERRAT-REGULAR';
  color: white;
  text-align: center;
  height: 35px;
  font-size: 1.5rem;
  background-color: transparent !important; }
  .btn-sliders:hover {
    border: 1px solid #ffd236;
    color: white;
    background-color: #ffd236 !important; }
  .btn-sliders:focus {
    border: 1px solid #ffd236;
    color: white;
    background-color: #ffd236 !important; }

.btn-radius-right {
  border: 1px solid #c8c8c8;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 130px;
  right: 2px; }

.btn-radius-select {
  background-color: #c5c5c5 !important;
  color: #4a62aa !important; }

.btn-radius-normal {
  background-color: white !important;
  color: #c5c5c5 !important; }

.btn-yellow {
  padding: 1rem;
  background-color: #ffd236;
  color: white;
  border-radius: 20px;
  text-align: center;
  border-color: none;
  height: 49px;
  min-width: 208px;
  border: none;
  font-family: 'MONTSERRAT-REGULAR';
  font-size: 1.4rem;
  text-transform: uppercase; }
  .btn-yellow:hover {
    color: white;
    background: #FFC900; }
  .btn-yellow:active {
    color: white; }
  .btn-yellow:focus {
    color: white; }
  .btn-yellow:active {
    color: white; }
  .btn-yellow:target {
    color: whitered; }

.btn-md {
  min-width: 165px !important;
  height: 40px !important;
  border-radius: 16px !important; }

.btn-md-stick {
  min-width: 110px !important;
  height: 38px !important;
  border-radius: 11px !important; }

.btn-xs {
  min-width: 100px !important;
  width: auto;
  padding: 0 0.5rem;
  height: 35px !important;
  border-radius: 16px !important;
  padding: 0 !important; }

.btn-purple-darkness {
  padding: 1rem;
  background-color: #384979;
  color: white;
  border-radius: 20px;
  text-align: center;
  border-color: none;
  height: 49px;
  min-width: 208px;
  border: none;
  font-family: 'MONTSERRAT-REGULAR';
  font-size: 1.4rem; }
  .btn-purple-darkness:hover {
    color: white;
    background: #5980F7; }
  .btn-purple-darkness:focus {
    color: white; }
  .btn-purple-darkness:active {
    color: white; }
  .btn-purple-darkness:active {
    color: white; }
  .btn-purple-darkness:target {
    color: white; }

.btn-purple {
  padding: 1rem;
  background-color: #4a62aa;
  color: white;
  border-radius: 20px;
  text-align: center;
  border-color: none;
  height: 49px;
  min-width: 208px;
  border: none;
  font-family: 'MONTSERRAT-REGULAR';
  font-size: 1.4rem; }
  .btn-purple:hover {
    color: white;
    background: #5980F7; }
  .btn-purple:focus {
    color: white; }
  .btn-purple:active {
    color: white; }
  .btn-purple:active {
    color: white; }
  .btn-purple:target {
    color: white; }

.bg-degrade {
  background: #4a62aa !important;
  background: -moz-linear-gradient(left, #4a62aa 0%, #417ab6 50%, #2cb1d2 100%) !important;
  background: -webkit-gradient(left top, right top, color-stop(0%, #4a62aa), color-stop(50%, #417ab6), color-stop(100%, #2cb1d2)) !important;
  background: -webkit-linear-gradient(left, #4a62aa 0%, #417ab6 50%, #2cb1d2 100%) !important;
  background: -o-linear-gradient(left, #4a62aa 0%, #417ab6 50%, #2cb1d2 100%) !important;
  background: -ms-linear-gradient(left, #4a62aa 0%, #417ab6 50%, #2cb1d2 100%) !important;
  background: linear-gradient(to right, #4a62aa 0%, #417ab6 50%, #2cb1d2 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a62aa', endColorstr='#2cb1d2', GradientType=1 ) !important; }

.bg-gray-prodigos {
  background-color: #f1f4f5; }

.bg-purple-prodigos {
  background-color: #4b5fa8; }

.bg-yellow-prodigos {
  background-color: #ffd236; }

.bg-blue-gray {
  background-color: #edeff6; }

.bg-gray-light {
  background-color: #f9f9f9; }

.bg-white {
  background-color: white; }

.border-bottom-slider {
  border-bottom: 4px solid rgba(230, 230, 230, 0.5); }
  .border-bottom-slider:hover {
    border-bottom: 4px solid #ffd236;
    color: #ffd236 !important;
    cursor: pointer; }

.corners-rect-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.corners-rect-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.color-required {
  color: purple; }

.corner-radius-left {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }

.corner-radius-right {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; }

.corner-radius-right-input-text {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; }

.corner-radius-left-input-text {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem; }

.container-relative-for-absolute {
  position: relative;
  width: 100%;
  text-align: center; }

.display-inline-flex {
  display: inline-flex; }

.display-inline-block {
  display: inline-block; }

.divider-texts {
  border-bottom: 1px solid #aaaaaa; }

.figure-center-img img {
  display: block;
  margin: 0 auto; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.font-family-montserrat-black {
  font-family: 'MONTSERRAT-BLACK'; }

.font-family-montserrat-bold {
  font-family: 'MONTSERRAT-BOLD'; }

.font-family-montserrat-light {
  font-family: 'MONTSERRAT-LIGHT'; }

.font-family-montserrat-ultralight {
  font-family: 'MONTSERRAT-ULTRALIGHT'; }

.font-family-montserrat-regular {
  font-family: 'MONTSERRAT-REGULAR'; }

.font-family-robostlab-thin {
  font-family: 'ROBOTOSLAB-THIN'; }

.font-family-robostlab-light {
  font-family: 'ROBOTOSLAB-LIGHT'; }

.font-family-robostlab-regular {
  font-family: 'ROBOTOSLAB-REGULAR'; }

.font-family-robostlab-bold {
  font-family: 'ROBOTOSLAB-BOLD'; }

.font-purple-color {
  color: #4a62aa; }

.font-gray-middle-color {
  color: #b3b3b3 !important; }

.font-red-cancel-color {
  color: #ff4343; }

.join-prodigos-home-wrapper {
  min-height: 220px; }

.font-yellow-color {
  color: #ffd236; }

.font-white-color {
  color: white !important; }

.font-gray-title {
  color: #a2a2a2; }

.font-blue-color {
  color: #4a62aa; }

.font-gray-dark-text {
  color: #8a8a8a; }

.font-purple-prodigos {
  color: #4b5fa8; }

.font-white-gray-color {
  color: #c5c5c5 !important; }

.font-color-green-available {
  color: #15e000; }

.font-size-title {
  font-size: 7rem; }

.font-size-1-2 {
  font-size: 1.2rem; }

.font-size-1-3 {
  font-size: 1.3rem; }

.font-size-1-4 {
  font-size: 1.4rem; }

.font-size-1-5 {
  font-size: 1.5rem; }

.font-size-1-7 {
  font-size: 1.7rem; }

.font-size-1-8 {
  font-size: 1.8rem; }

.font-size-1-9 {
  font-size: 1.9rem; }

.font-size-2 {
  font-size: 2rem; }

.font-size-2-important {
  font-size: 2rem !important; }

.font-size-2-2 {
  font-size: 2.2rem; }

.font-size-sub-important {
  font-size: 2.2rem; }

.font-size-2-4 {
  font-size: 2.4rem; }

.font-size-2-5 {
  font-size: 2.5rem; }

.font-size-2-8 {
  font-size: 2.8rem; }

.font-size-3-6 {
  font-size: 3.6rem; }

.font-size-subtitle {
  font-size: 4rem; }

.font-size-5-5 {
  font-size: 5.5rem; }

.font-size-15-3 {
  font-size: 15.3rem; }

.font-size-22-8 {
  font-size: 22.8rem; }

.font-size-menu {
  font-size: 1.3rem; }

.height {
  height: 50px; }

.img-testimony {
  max-width: 50px;
  margin: 1rem auto 0 auto; }
  .img-testimony:hover {
    max-width: 70px;
    margin: 0 auto; }

.img-testimony-selected {
  max-width: 70px;
  margin: 0 auto; }

.img-testimony-wrapper {
  height: 100px;
  border-bottom: 3px solid rgba(230, 230, 230, 0.5); }
  .img-testimony-wrapper:hover {
    border-bottom: 3px solid #ffd236; }

.left {
  left: 0px; }

.letter-spacing-2 {
  letter-spacing: 2px; }

.letter-spacing-1-2 {
  letter-spacing: 1.2px; }

.line-height-normal {
  line-height: 100%; }

.line-height-24 {
  line-height: 24px; }

.line-divider {
  border-bottom: 2px solid rgba(206, 209, 210, 0.6); }

.normal-text {
  font-size: 1.4rem;
  color: #8a8a8a;
  font-family: 'MONTSERRAT-LIGHT'; }

.menu-wrapper {
  height: 80; }

.margin-0 {
  margin: 0; }

.margin-top-0-2 {
  margin-top: 0.2rem; }

.margin-top-0-5 {
  margin-top: 0.5rem; }

.margin-bottom-0-5 {
  margin-bottom: 0.5rem; }

.margin-bottom-1 {
  margin-bottom: 1rem; }

.margin-bottom-2 {
  margin-bottom: 2rem; }

.margin-bottom-3 {
  margin-bottom: 3rem; }

.margin-bottom-4 {
  margin-bottom: 4rem; }

.margin-bottom-5 {
  margin-bottom: 5rem; }

.margin-bottom-6 {
  margin-bottom: 6rem; }

.margin-bottom-7 {
  margin-bottom: 7rem; }

.margin-bottom-8 {
  margin-bottom: 8rem; }

.margin-left-0-5 {
  margin-left: 0.5rem; }

.margin-left-1 {
  margin-left: 1rem; }

.margin-left-2 {
  margin-left: 2rem; }

.margin-left-3 {
  margin-left: 3rem; }

.margin-left-4 {
  margin-left: 4rem; }

.margin-left-5 {
  margin-left: 5rem; }

.margin-left-6 {
  margin-left: 6rem; }

.margin-left-7 {
  margin-left: 7rem; }

.margin-left-37px {
  margin-left: 37px; }

.margin-top-negative-100px {
  margin-top: -100px; }

.margin-top-negative-7 {
  margin-top: -7rem; }

.margin-top-negative-2 {
  margin-top: -2rem; }

.margin-top-negative-4 {
  margin-top: -4rem; }

.margin-top-negative-3 {
  margin-top: -3rem; }

.margin-top-negative-8 {
  margin-top: -8rem; }

.margin-top-5-px {
  margin-top: 5px; }

.margin-top-1 {
  margin-top: 1rem; }

.margin-top-1-5 {
  margin-top: 1.5rem !important; }

.margin-top-2 {
  margin-top: 2rem; }

.margin-top-2-5 {
  margin-top: 2.5rem; }

.margin-top-3 {
  margin-top: 3rem; }

.margin-top-4 {
  margin-top: 4rem; }

.margin-top-5 {
  margin-top: 5rem; }

.margin-top-6 {
  margin-top: 6rem; }

.margin-top-7 {
  margin-top: 7rem; }

.margin-top-8 {
  margin-top: 8rem; }

.margin-top-9 {
  margin-top: 9rem; }

.margin-top-10 {
  margin-top: 10rem; }

.margin-top-12 {
  margin-top: 15rem; }

.margin-top-15 {
  margin-top: 15rem; }

.margin-top-19 {
  margin-top: 19rem; }

.max.width-150 {
  max-width: 150%; }

.min-height-250 {
  min-height: 300px; }

.overflow-hidden {
  overflow: hidden; }

.padding-0-5 {
  padding: 0.5rem; }

.padding-bottom-1 {
  padding-bottom: 1rem; }

.padding-bottom-2 {
  padding-bottom: 2rem; }

.padding-bottom-2-5 {
  padding-bottom: 2.5rem; }

.padding-bottom-3 {
  padding-bottom: 3rem; }

.padding-bottom-4 {
  padding-bottom: 4rem; }

.padding-top-0-5 {
  padding-top: 0.5rem; }

.padding-top-3 {
  padding-top: 3rem; }

.padding-top-4 {
  padding-top: 4rem; }

.padding-top-5 {
  padding-top: 5rem; }

.padding-top-6 {
  padding-top: 6rem; }

.padding-top-btn-side-menu {
  padding-top: 1.3rem; }

.padding-top-bottom-1 {
  padding: 1rem 0 1rem 0; }

.padding-1 {
  padding: 1rem; }

.padding-1-5 {
  padding: 1.5rem; }

.padding-2 {
  padding: 2rem; }

.padding-2-5 {
  padding: 2.5rem; }

.padding-3 {
  padding: 3rem; }

.padding-4 {
  padding: 4rem; }

.padding-5 {
  padding: 5rem; }

.padding-top-bottom-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.paddings-3-2 {
  padding: 3rem 2rem; }

.paddings-left-right-10 {
  padding-right: 10rem;
  padding-left: 10rem; }

.paddings-left-right-7 {
  padding-right: 7rem;
  padding-left: 7rem; }

.paddings-left-right-3-7 {
  padding-right: 3.7rem;
  padding-left: 3.7rem; }

.paddings-left-0 {
  padding-left: 0rem; }

.paddings-left-right-0 {
  padding-right: 0rem;
  padding-left: 0rem; }

.paddings-left-1 {
  padding-left: 1rem; }

.paddings-right-1 {
  padding-right: 1rem; }

.point-step-register {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background: #8a8a8a;
  border-radius: 100%;
  padding: 0 !important; }

.point-step-register-selected {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background: #ffd236;
  border-radius: 100%;
  cursor: pointer;
  padding: 0 !important; }

.pointer {
  cursor: pointer; }

.not-allowed {
  cursor: not-allowed; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.right {
  right: 0px; }

#starts-ranking i {
  font-size: 2.4rem; }

#starts-ranking i:nth-child(1) {
  margin-left: 1rem; }

.start-ranking-active {
  color: #ffd236; }

.start-ranking-inactive {
  color: #8a8a8a; }

.stick-call-actions {
  position: fixed;
  width: 60%;
  max-width: 805px;
  height: 55px;
  bottom: 0;
  background-color: #4a62aa;
  border-radius: 0 16px 0px 0; }

.uppercase {
  text-transform: uppercase; }

.width-75 {
  width: 75%; }

.witouht-padding-right {
  padding-right: 0; }

.witouht-padding-left {
  padding-left: 0; }

.text-background {
  position: absolute;
  font-size: 20rem;
  width: 100%;
  left: 0;
  color: rgba(0, 0, 0, 0.05); }

.text-align-center {
  text-align: center; }

.text-align-justify {
  text-align: justify;
  text-justify: inter-word; }

.transparent-banner {
  height: 100%;
  opacity: 0.7;
  width: 50%; }

.z-index-1 {
  z-index: 1; }

.z-index-2 {
  z-index: 2; }

#name_prodigo {
  margin-left: -2%;
  z-index: 100; }

#name_prodigo h3 {
  color: #4a62aa; }

#name_prodigo h3 span {
  color: #ffd236;
  font-size: 70%;
  margin-left: -5px; }

#name_prodigo #first_star {
  margin-left: 3%; }

#name_prodigo p {
  color: #8a8a8a;
  margin-top: -2%; }

#name_prodigo p span {
  margin-left: 2%; }

#stats_prodigo {
  position: relative; }

#stats_prodigo h4 {
  color: #8a8a8a;
  font-size: 100%;
  text-align: right; }

#stats_prodigo h4 strong {
  font-family: "MONTSERRAT-LIGHT";
  color: #4a62aa;
  font-size: 200%; }

.cancel-service {
  border-radius: 100px;
  border-color: #ff4343;
  background-color: #ff4343; }

#main_panel {
  margin-top: 3%; }

#main_panel h4 {
  font-size: 100%;
  color: #ffd236;
  margin-bottom: -10px;
  letter-spacing: 1px; }

#main_panel h4 span {
  font-size: 200%;
  color: #ffd236;
  margin-bottom: -10px;
  letter-spacing: 1px;
  margin-right: 10px; }

#main_panel #main_panel_h4 {
  font-size: 100%;
  color: #4a62aa;
  margin-bottom: -10px; }

#proximos_day h5 {
  font-size: 11px; }

#proximos_day p {
  color: #b5b5b5;
  margin-top: 10px; }

#proximos_day p strong {
  color: #4a62aa; }

#user_container {
  background-color: #f9f9f9;
  margin-top: 20px; }

#proximo_usuario h5 strong {
  color: #4a62aa; }

#proximo_usuario_name {
  background-color: #4b5fa8;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

#proximo_usuario_name h2 {
  color: #f9f9f9;
  margin-top: 20px; }

#proximo_usuario_name h5 {
  font-size: 11px;
  color: #f9f9f9;
  letter-spacing: 1px;
  margin-bottom: 20px; }

#rect-side-nav-opacity {
  position: fixed;
  height: 150%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: none; }

#nav-account {
  height: 50px; }

/* ------------------------ */
/* Screen max width 1280 px */
@media only screen and (max-width: 1280px) {
  .text-background {
    position: absolute;
    font-size: 18rem;
    width: 100%;
    left: 0;
    color: rgba(0, 0, 0, 0.05); }
  .banner-div {
    margin-top: 8%; } }

/* ------------------------ */
/* Screen max width 720 px */
@media only screen and (max-width: 768px) {
  .paddings-left-1 {
    padding-left: 0; } }

/* ------------------------ */
/* Screen max width 720 px */
@media only screen and (max-width: 720px) {
  .font-size-logo {
    position: absolute;
    font-size: 16rem;
    width: 100%;
    left: 0;
    color: rgba(0, 0, 0, 0.05); } }

/* ------------------------ */
/* Screen max width 480 px */
@media only screen and (max-width: 480px) {
  .font-size-logo {
    font-size: 2.5rem; }
  .paddings-left-right-3-7 {
    padding-left: 0;
    padding-right: 0; } }
